# Dependencies
**/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Environment
**/.env
**/.env.*

# Build artifacts
**/dist
**/build
**/coverage

# React Native
**/android/.gradle
**/android/local.properties
**/android/app/build
**/ios/Pods
**/ios/build
